<ion-view title="บัญชีของฉัน">
        <h1 class="title">Login</h1>
        

        <ion-nav-buttons >
             <button class="button ion-arrow-left-c button-clear button-positive" nav-direction="back"  ng-click="goBack()">
             Back
             </button>
        </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item  class="item-thumbnail-left">
                <div class="frame">
                 <img src="{{MyAcount.image}}">
                 <button ng-click="getImageSaveContact()" class="icon ion-camera button-clear" ></button>
                 <input class="ng-hide"  type="file" id="file"/>
                </div>
                <h2>{{MyAcount.name}}</h2>
                <p>{{MyAcount.email}}</p>
            </ion-item>
            <ion-item>ชื่อ : {{MyAcount.name}}</ion-item>
            <ion-item>Email: {{MyAcount.email}}</ion-item>
            
            <!--<ion-item>
                 <button class="button button-full button-positive" ng-click="getImageSaveContact()">
                    Get Image and Save a Contact with It
                </button>
                <img ng-src="{{collection.selectedImage}}" style="width:100%; height: auto;"/>    
            </ion-item>-->
        </ion-list>
        
        
        
    </ion-content>
</ion-view>