<ion-view title="เพิ่มกลุ่ม"  >
    <ion-nav-buttons side="primary" >
     <button class="button ion-android-more-vertical button-clear "   ng-click="addUser()"></button>
     </ion-nav-buttons>
     <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
        <a class="tab-item active" href="#/addfriend">
            สร้างกลุ่ม
        </a>
       
        <a class="tab-item" href="#/findgroup">
           ค้นหา
        </a>
        </div>
    </div>
   
    <ion-content overflow-scroll="true" padding="true" class="has-header">

        <div class="list">
            <div class="item item-divider">
              รายชื่อกลุ่ม
            </div>
                       
            <a class="item item-avatar item-icon-right Grey " href="#/addgroup">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>สร้างกลุ่ม</h2>
            <p>สร้างกลุ่มกับเพื่อนๆ</p>
            <i class="icon ion-ios-arrow-right"></i>
            </a>
                       
   
        </div>
    </ion-content>
</ion-view>