<ion-view title="เพื่อน"  >
    <ion-nav-buttons side="primary" >
        <button class="button ion-person-add button-clear"   ng-click="addFriend()"></button>
        <button class="button ion-android-search button-clear "  ng-click=""></button>
        <button class="button ion-android-more-vertical button-clear "   ng-click="addUser()"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list">
            
            <div class="item item-divider">
               กลุ่ม
            </div>
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>บ้านเว็บไชต์</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            <div class="item item-divider">
             รายชื่อสมาชิก
            </div>
           
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
             <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
             <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
             <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
             <a class="item item-avatar" href="#">
            <img src="http://www.baanwebsite.com/customer/bwsapp/meeting/album/admin.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
            </a>
            
   
        </div>
    </ion-content>
</ion-view>