<ion-view title="เพื่อน">
    <ion-nav-buttons side="primary">
        <button class="button ion-ios-plus-outline button-clear" ng-click="addFriend()"></button>
        <!--<button class="button ion-android-search button-clear " href="gotoFind()"></button>-->
        <button class="button ion-ios-gear button-clear " ng-click="gotoSetting()"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <ion-list show-delete="showDelete" class="list list-editing">

            <div class="item item-button-right bar-positive">
                รายชื่อห้อง
                <button class="button button-icon ion-ios-minus" ng-click="showDelete = !showDelete"></button>
            </div>
            <ion-item class="item-toggle item-button-right" href="#/member-list/{{item.id}}/{{item.name}}" ng-repeat="item in GroupList">
                <!--<img src="../img/splash.png">-->
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item.id)"></ion-delete-button>
                <h2>{{item.name}}</h2>
                <p>{{item.desc}}</p>

                <div class="toggle" ng-if="!showDelete">
                    <input type="checkbox">
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>