<ion-modal-view class="login">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
       
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <!-- <span class="input-label">Username</span> -->
                    <input type="text"  placeholder="Username" ng-model="data.username">
                </label>
           
                <br>
                <br>
                <label class="item item-input">
                   <!--  <span class="input-label">Password</span> -->
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
           

            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-block button-positive" ng-click="login()">เข้าสู่ระบบ</button> 

          
           <label class="text-center label-forget">
                <button class="left button" ng-click="toForget()">ลืมรหัสผ่าน</button> 
           </label>

           <label class="text-center label-forget">
                <button class="right button" ng-click="toRegis()">ลงทะเบียน</button> 
           </label>



         </form>
            <!-- <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">Or create an account</a> -->
       
    </ion-content>
<ion-modal-view