<ion-view title="การจองของฉัน">
  
    <ion-nav-buttons side="right">
        <button class="button ion-ios-plus-outline button-clear btn-addbooking" ng-click="create()"></button>
        <button class="button ion-ios-gear button-clear " ng-click="gotoSetting()"></button>
    </ion-nav-buttons>
    
   

    
    <ion-content overflow-scroll="true" padding="true" class="has-header">
          <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
          </ion-refresher>
          
        <ion-list ng-repeat="book in MyBooking">

            <ion-item class="item-divider" >{{ book.date | moment:'DD MMMM YYYY'}}  </ion-item>
            <ion-item class="item item-icon-right"  ng-repeat="item in book.item">
                    {{ item.start  * 1000  |  date:'HH:mm' : 'z' }} - {{item.end * 1000  |  date:'HH:mm' : 'z'  }} {{item.title}} 
                 <a href="#/edit/{{item.id}}" class="icon ion-navicon  ion-edit"></a>
                 <p>{{ Booking.room }} </p>
            </ion-item>
         
        </ion-list>
    </ion-content>
</ion-view>