<ion-view title="ชื่อ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">ชื่อ :</span>
                    <input type="text" placeholder="chaiyachate tongsu">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block ">บันทึก</button>
        </form>
    </ion-content>
</ion-view>