<ion-view title="ตั้งค่า">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">ข้อมูลของฉัน</ion-item>
            <ion-item href="#/acount"  class="item-icon-right" >
                บัญชีของฉัน
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-divider">รายละเอียด</ion-item>
            <ion-item>
                   <p> เวอร์ชั่น</p>
                   <small>1.0.0</small>
    
                
            </ion-item>
            <ion-item class="item-divider">ออกจากระบบ</ion-item>
            <ion-item ng-click="logOut()" >ออกจากระบบ</ion-item>
        </ion-list>
    </ion-content>
</ion-view>