/* Empty. Add your own CSS if you like */
.btn-addbooking{
	font-size: 25px !important;
	color: #fff;
}
.tab-nav.tabs {
      background-color: #fbac37 !important	;
}
.tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {
   
    color: #fff;
    border-color: #fff;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
}
.tabs-striped.tabs-stable .tab-item {
    color: rgba(68, 68, 68, 1);
    opacity: 1;
}
.bar-positive{

    border-color: #fbac37 !important    ;
    background-color: #fbaf3f !important;
    background-image: -webkit-linear-gradient(bottom, #fbac37, #fbac37 50%, transparent 50%) !important;
    background-image: -o-linear-gradient(bottom, #fbac37, #fbac37 50%, transparent 50%) !important;
    background-image: linear-gradient(to top, #fbac37, #fbac37 50%, transparent 50%) !important;

}
.bar-orenge{
    border-color: #fbac37 !important	;
    background-color: #fbaf3f !important;
    background-image: -webkit-linear-gradient(bottom, #fbac37, #fbac37 50%, transparent 50%) !important;
    background-image: -o-linear-gradient(bottom, #fbac37, #fbac37 50%, transparent 50%) !important;
    background-image: linear-gradient(to top, #fbac37, #fbac37 50%, transparent 50%) !important;
}



.red{
	color: red;
	font-size: 12px;
}
.ion-edit{
    text-decoration: none;
    color: #444;
}
.button-stable{
    border: 1px ;
    border-style: solid;
    border-color: #ccc !important;
}



.text-center{
    text-align: right;
    margin: 0 auto; 
    display: block;
    padding: 5px;
}

/*//login*/
.label-forget a{
    background-color: #eee;
    display: block;
    padding: 5px;
}
.right{
    float: right;
}
.left{
    float: left;
}


.login{
    background: #FB9706  url("../img/splash.png");
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; 
    -webkit-background-size:auto 100% ;
    background-size:auto 100% ;
}
.login input{
    /*background-color: rgba(251,151,6,1);*/
    padding: 0;
    margin: 0;
    color: #000;
    /*filter: alpha(opacity=50);*/
}



.login .bar-header{
    border:0; 
    background:transparent ;
    
}

.content-bg{
    background:#E9EAED;
}


.avtra-icon{
    width: 50px;
    height: 50px;
    color: #999;
    font-size: 60px;
}
.avtra-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.bar .button.button-clear {
    padding: 0 10px;
    font-size: 20px;
    /*margin-right: 15px;*/
    
}

.Grey {
    background: #eee;
}
.tabs-striped.tabs-background-positive .tabs {
    background-color: #F8AA36;
    background-image: none;
}
.groupImage{
    width: 100px;
    height: 100px;
    display: block;
    background: #F8AA36;
    border-radius: 50%;
    /*overflow: hidden;*/
    position: relative;
    border:0;
}
.groupImage img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.groupImage i{
    width: 30px;
    height: 30px;
    display: block;
    background: rgba(253, 254, 252, 0.8);
    border-radius: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center ; 
    padding-top: 5px;
    color: #666;

}
.button-hide{
    display: none !important ;
}

list-editing .toggle {
	top:20px;
}

.activate-link {
	pointer-events: initial;
}
.item-thumbnail-left > div.frame {
    position: absolute;
    top: 0px;
    left:0px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
  
}
.item-thumbnail-left > div.frame button {
    position: absolute;
    top: 5px;
    left:5px;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    display: block ;
    padding: 0;
    border:0; 
    font-size: 13px;
    line-height: 0;
}
.item-thumbnail-left > div.frame button:before {
   margin: 0;
   padding: 0;
   line-height: 0;
}

.item-thumbnail-left > div.frame  img:first-child {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}